body
{
    text-align:center;
    border: 2px groove red;
}
.box
{
    margin:auto;
    width:200px;
    padding:8px;
    display:flex;
    flex-direction: column;
    
}
.i,.d,.r
{
    display:flex;
    justify-content:center;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 16px;
}
.i
{
    color:rgb(0, 0, 0);
    background-color:rgb(34, 164, 34);
    font-style:normal;
}
.d
{
    color:rgb(0, 0, 0);
    background-color:rgb(183, 28, 28);
    font-style:normal;
}
.r
{
    color:rgb(0, 0, 0);
    background-color:rgb(36, 36, 187);
    font-style:normal;
}
.disabled
{
    opacity:0.5;
    cursor:not-allowed;
}